.venv
__pycache__
resources/output/faster_rcnn_0_24_02_22_14_14_21.pth
resources/output/faster_rcnn_1_24_02_22_14_20_46.pth

resources/output/faster_rcnn_0_24_02_22_14_14_21.pth 
resources/output/faster_rcnn_0_24_02_23_00_52_17.pth 
resources/output/faster_rcnn_1_24_02_22_14_20_46.pth 
resources/output/faster_rcnn_1_24_02_23_01_29_50.pth 
resources/output/faster_rcnn_2_24_02_23_02_07_19.pth 
resources/output/faster_rcnn_3_24_02_23_02_44_53.pth 
resources/output/faster_rcnn_4_24_02_23_03_22_27.pth 
resources/output/faster_rcnn_5_24_02_23_04_00_03.pth 
resources/output/faster_rcnn_6_24_02_23_04_37_38.pth 
resources/output/faster_rcnn_7_24_02_23_05_15_15.pth 
resources/output/faster_rcnn_8_24_02_23_05_52_54.pth 
resources/output/faster_rcnn_9_24_02_23_06_30_31.pth 
resources/output/faster_rcnn_10_24_02_23_07_08_09.pth 
resources/output/faster_rcnn_11_24_02_23_07_45_46.pth 
resources/output/faster_rcnn_12_24_02_23_08_23_24.pth 
resources/output/faster_rcnn_13_24_02_23_09_01_03.pth 
resources/output/faster_rcnn_14_24_02_23_09_38_42.pth